.alert-animate {
  top: -500px;
  position: absolute;
  z-index: 9999;
  animation-name: slideIn;
  animation-duration: 10s;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 10s;
}

@-webkit-keyframes slideIn {
  0%   {top:-550px;}
  10%  {top: 7px; }
  50%  {top: 7px; }
  75%  {top: 7px; }
  100% {top:-250px;}
}

@keyframes slideIn {
  0%   {top:-550px;}
  10%  {top: 7px; }
  50%  {top: 7px; }
  75%  {top: 7px; }
  100% {top:-250px;}
}