// Core

@import "custom/functions";
@import "custom/variables";
@import "custom/mixins";

// Bootstrap (4.1.3) components

@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";

// Argon utilities and components

@import "custom/reboot";
@import "custom/utilities";
@import "custom/components";

// Vendor (Plugins)

@import "custom/vendors";

.fa-exclamation-circle{
    font-size: 1.3em;
}

/*
*
* Custom Pagination Styles
*
*/
.page-link-c{
    position: relative;
    display: block;
    padding: 8px 12px;
    color: $pagination-color;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;
    border-radius: 5px;
    margin: 3px;

    &:hover {
      z-index: 2;
      color: $pagination-hover-color;
      text-decoration: none;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border-color;
    }

    &:focus {
      z-index: 2;
      outline: $pagination-focus-outline;
      box-shadow: $pagination-focus-box-shadow;
    }

    &:not(:disabled):not(.disabled) {
      cursor: pointer;
    }
}

/*
*
* Vue Multiselect Styles
*
*/
.multiselect__option--highlight{
    background: #f8f9fe;
    color: #35495e;
}

.multiselect__option--selected.multiselect__option--highlight{
    background: #f8f9fe;
    color: #35495e;
}

.multiselect__tag-icon:after{
    color: #fff;
}
.multiselect__tag{
    background-color: #5e72e4;
}

.multiselect__tag-icon:focus, .multiselect__tag-icon:hover{
    background: #5e72e4;
}

.multiselect__tags{
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    padding: 10px 40px 0 10px;
}
.multiselect__content-wrapper {
  z-index: 3;
}

.home-link{
    position: fixed;
}
